@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?kyqgz1');
  src:  url('../font/icomoon.eot?kyqgz1#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?kyqgz1') format('truetype'),
    url('../font/icomoon.woff?kyqgz1') format('woff'),
    url('../font/icomoon.svg?kyqgz1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upload:before {
  content: "\e961";
}
.icon-user:before {
  content: "\e971";
}
.icon-cog:before {
  content: "\e994";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-arrow-left2:before {
  content: "\ea40";
}

