@media (max-width: 875px) {
    #Main {
        padding-top: 7em;
    }
    
    .map-grouping {
        width: 85%;
    }
}

@media (max-width: 400px) {
    #Main {
        padding-top: 7em;
    }

    .map-grouping {
        width: 95%;
    }
    
    .map-panel {
        height: 350px;
    }
    
    .map-legend {
        margin-top: 5px;
        display: block; /* "Spend 1" on new line */
    }
    
    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        padding: 0.5em 0.8em;   /* less left/right padding on tabs */
    }
}