@media (max-width: 875px) {
    .map-data {
        position: relative;
        top: 0;
        right: 0;
    }
        
    .map-data > span, .map-data > label {
        display: block;
    }
            
    .map-panel {
        width: 100%;
    }
        
    #InProgressCampaign .row {
        flex-direction: column;
    }
    
    #InProgressCampaign .column {
        height: auto;
    }
    
    #InProgressCampaign .map-column {
        width: 100%;
    }
    
    #InProgressCampaign .ui-tabs {
        overflow: visible;
        width: 100%;
    }
}

@media (max-width: 420px) {
    .map-grouping {
        width: 95%;
    }

    .map-legend {
        margin-top: 5px;
        display: block; /* "Spend 1" on new line */
    }

    .ui-tabs li.data-list {
        font-size: 0.8em;
        width: 260px;
    }
    
    .ui-tabs li.data-list label {
        width: 140px;
    }    
    
    .ui-tabs li.data-list span {
        width: 110px;
    }

    .grouping {
        width: 320px;
    }
}