*{
    box-sizing: border-box;
}

#Main {
    padding: 3.6em 10px 10px 10px;
    
}

#Header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #E5E5E5;
    width: 100%;
    height: 3em;
    padding: 3.6px 0 0 10px;
    border-bottom: solid black 2px;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"], input[type="number"], select {
    width: 140px;
}

body {
    margin: 0;
}

canvas {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    max-width: 768px;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

li.entry-field,
li.data-list,
li.button-panel {
    
    margin-left: 5%;
    width: 280px;
    text-align: right;
}

li.button-panel {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ui-dialog li.entry-field,
.ui-dialog li.data-list,
.ui-dialog li.button-panel {
    width: 260px;
}

li.entry-field label {
    text-align: right;
    display: inline-block;
    margin-bottom: 5px;
    width: 130px;
}

.ui-dialog li.entry-field label {
    width: 70px;
}

.ui-dialog li.entry-field input {
    width: 170px;
}

li.data-list > span {
    font-weight: bold;
    display: inline-block;
    width: 100px;
}

table {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%
}

table [class^="icon-"], table [class*=" icon-"] {
    color: #2779aa;
}

thead th {
   text-align: left;
   font-size: 0.9em;
}

td {
    font-size: 16px;
    padding: 4px 4px 4px 0;    
}

td .button-icon {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    height: 20px;
}

td.actions {
    text-align: right;
    font-size: 14px;
}

td.actions .button-icon {
    padding: 0;
}

.inline-icon-button {
    font-size: 0.8em;
    padding: 0.15em;
}

.link-button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
    text-align: left;
    padding: 0;
}

.button-icon {
    padding: 0.5em 0.8em;
}

.bottom-button-panel {
    margin-top: 10px;
}

.top-button-panel {
    margin-bottom: 10px;
}

.validationMessage {
    display: block;
    color: red;
}

.paragraph {
    padding: 5px;
    text-align: justify;
}

.map-grouping {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.grouping {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

@media (max-width: 875px) {
    .map-grouping {
        width: 85%;
    }
}

@media (max-width: 400px) {
    .map-grouping {
        width: 95%;
    }
    
    .map-panel {
        height: 350px;
    }
    
    .map-legend {
        margin-top: 5px;
    }
}

.title {
    font-weight: bold;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.conditional {
    text-align: center;
}

.map-panel {
    margin-top: 5px;
    max-width: 768px;
    border: 3px ridge grey;
    position: relative;
}

.map-panel .loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
}

.map-legend {
    padding: 0;
    list-style: none;
    margin-bottom: 3px;
    display: inline-block;
}

.map-legend li {
    color: #2779aa;
    font-weight: bold;
    border: 1px solid #aed0ea;
    min-width: 100px;
    padding: 5px 5px 5px 10px;
    display: inline-block;
}

.drag-drop-button span::before {
    content: " ";
    display: inline-block;
    background-image: url('../img/dragdrop.png');
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 5px;
}

.disabled-label {
    color: #888888;
    cursor: default !important;
}

.news-item {
    padding: 1em;
    margin-bottom: 1em;
}

.news-item .created-by {
    font-size: 10px;
    color: #888;
    display: block;
}

.ui-button {
    padding: 0.4em 0.5em;
}

.ui-tooltip {
    box-shadow: none;
}

.ui-tabs { 
    margin-top: 10px;
    padding: 0px; 
    background: none; 
    border: 0 !important;
}

.ui-tabs .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
}

.ui-tabs .ui-tabs-panel { 
    border-width: 0px 1px 1px 1px; 
    padding: 10px 3px;
}

