body {
    margin: 0;
}

.entry-field label {
    text-align: right;
    display: inline-block;
    margin-bottom: 5px;
}

.entry-field.in-list label {
    width: 120px;
}

.link-button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.icon-button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    height: 20px;
}

.button-panel.in-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.validationMessage {
    display: block;
    color: red;
}

.entry-field.in-list .validationMessage {
    margin-left: 125px;
}

table {
    margin-top: 10px;
    margin-bottom: 10px;
}

td {
    padding: 4px;    
}

select {
    width: 165px;
}

.paragraph {
    padding: 5px;
}

#Login .button-panel.in-list {
    text-align: right;
    width: 290px;
}

#CreateCampaign .button-panel.in-list {
    margin-left: 152px;
}

#CreateCampaignEntry .button-panel.in-list {
    margin-left: 152px;
}

#CreateCampaignEntry table {
    margin-top: 10px;
    margin-bottom: 10px;
}

#Main {
    margin: 10px;
}

#Header {
    background-color: #E5E5E5;
    width: 100%;
    height: 3em;
    padding: 4px 0 3px 10px;
    border-bottom: solid black 2px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.ui-tabs {
    margin-top: 10px;
}

.ui-tabs .ui-tabs-panel {
    padding: 3px;
}

.conditional {
    text-align: center;
}